services:
  web:
    platform: linux/amd64
    build: .
    env_file:
      - ./.env
    restart: unless-stopped
    networks: [ default, backend ]
    ports: ["8000:8000"]
    depends_on:
      - postgres
      - redis
      - mailhog
  worker:
    platform: linux/amd64
    build: .
    env_file:
      - ./.env
    networks: [ backend ]
    restart: unless-stopped
    entrypoint: >
      celery --app=deal_tracker_config worker --task-events --loglevel=INFO --queues=celery,high_priority,low_priority,mailing --concurrency=3
    depends_on:
      - postgres
      - redis
      - mailhog
  scheduler:
    platform: linux/amd64
    build: .
    env_file:
      - ./.env
    networks: [ backend ]
    restart: unless-stopped
    entrypoint: >
      celery --app=deal_tracker_config beat --loglevel=INFO
    depends_on:
      - postgres
      - redis
      - mailhog
  postgres:
    image: "postgres:13-buster"
    networks: [ default, backend ]
    ports: ["5432:5432"]
    volumes: ["postgres:/var/lib/postgresql/data"]
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: deal_tracker
  redis:
    image: "redis"
    networks: [default, backend]
    ports: ["6379:6379"]
    volumes: ["redis:/data"]
  mailhog:
    image: "mailhog/mailhog"
    networks: [default]
    ports: ["1025:1025", "8025:8025"]
volumes:
  postgres:
  redis:
networks:
  backend: {}
