{% extends 'base.html' %}
{% load static crispy_forms_tags i18n %}
{% block pagestyle %}
  <link rel="stylesheet" href="{% static "css/app/login.css" %}">
{% endblock %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block message %}

{% endblock %}

{% block content %}

  <form class="form-signin" method="POST" action="{% url "login" %}">
    <h1 class="h3 mb-3 font-weight-normal">Deal Tracker</h1>
      {% csrf_token %}
      {{ form|crispy }}

    <div class="form-group">
      <a class="btn btn-md btn-info" href="{% url "django_registration_register" %}">
        {% trans "Register" %}
      </a>
      <button class="btn btn-md btn-primary float-right" type="submit">
        {% trans "Login" %}
      </button>
    </div>

    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-group">
        <a href="{% url "password_reset" %}">{% trans "Reset password" %}</a>
    </div>

  </form>
{% endblock %}
