{% extends 'base.html' %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Password reset confirmation" %}{% endblock %}

{% block content %}
  <main>
    <div class="container">
        {% if validlink %}

          <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">{% trans "Password reset confirmation" %}</h1>
              {% csrf_token %}
              {{ form|crispy }}
            <button class="btn btn-md btn-primary float-right" type="submit">{% trans "Change my password" %}</button>
          </form>

        {% else %}

          <p class="card alert-danger text-center">
              {% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
          </p>

        {% endif %}

    </div>
  </main>
{% endblock %}
